/* About3.css */
.About3 {
  background-image: linear-gradient(90deg, #f1f2b5, #135058);
  position: relative;
  padding: 25px; /* Adjusted padding */
  margin: 20px; /* Adjusted margin */
  margin-top: 30px; /* Adjusted top margin */
  border-radius: 18px;
  font-family: "Poppins", sans-serif; /* Added font family */
}

.description {
  font-weight: 700;
  font-size: 3.5rem;
  font-family: serif;
  margin-bottom: 20px; /* Added margin bottom */
  text-align: center; /* Centered text */
}

.About3 p {
  font-weight: 400;
  font-size: 20px; /* Adjusted font size */
  line-height: 1.5; /* Adjusted line height */
  margin-bottom: 20px; /* Added margin bottom */
}

@media (max-width: 600px){
  .description{
    font-size: 2.5rem;
  }
}
