.content-container-5 {
  text-align: center;
}

.content-container-5 h2 {
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 3.5rem;
  font-family: serif;
}

.our-supporter-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 3%;
}

.our-supporter-logos img {
  width: 100%;
  max-width: 200px; /* Adjusted max-width */
  margin: 0 5px; /* Adjusted margin */
  opacity: .7;
  transition: opacity 0.5s ease-in-out; /* Added transition effect */
}

.our-supporter-logos img.active {
  opacity: 2;
}

@media (max-width: 600px){
  .content-container-5 h2{
    margin-top: 5%;
    font-size: 2.5rem;
  }
  .our-supporter-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 3%;
  }
}
